@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Unbounded:wght@300&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  background-image: url('./img/bg.jpg');
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgray;
  border-radius: 25px;
  background-color: #fffc7f;
  padding: 0 10px;
  box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(210, 210, 210);
}

header {
  padding-left: 5px;
  padding-bottom: 7px;
}

.calculator > div {
  flex: 0 1 auto;
}

.button-close {
  width: 15px;
  height: 15px;
  border: none;
  background-color: red;
  border-radius: 50%;
}

.button-close-text {
  font-size: 15px;
  color: white;
}

.output {
  border-top: 0.5px solid lightgray;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  background-color: white;
}

.output > span {
  margin: 15px;
  font-size: 35px;
}

.input {
  border-top: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row > button {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  margin: 2px;
  font-size: 20px;
  background-color: white;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightgray;
  cursor: pointer;
}

.row > button:hover {
  background-color: #FF6668;
  color: white;
}

.row1 > button:first-child {
  background-color: #B880FF;
  color: white;
}

.ac {
  background-color: #fffc7f;
}

.row {
  display: flex;
}

.row1,
.row2,
.row3,
.row4 {
  margin-bottom: 4.22px;
}

.row5 > button:last-child {
  width: 110px;
  border-radius: 35px;
}
